[Unit]
Description=code-server
After=nginx.service

[Service]
Type=simple
Environment=PASSWORD=your_password
ExecStart=/usr/local/bin/code-server --host 0.0.0.0 --port 8081 --user-data-dir /home/khanh_doth --auth none
Restart=always

[Install]
WantedBy=multi-user.target